  <script>
                  $(document).ready(function() {
                    $(".testing" ).click(function() {
                     // alert( "Handler for .click() called." );
                    // $('#hiding1').show();
                     $('#hiding').show();
                     $('#footer').css('position', 'relative');
                    // document.getElementById('footer').style.position="relative";
                       });

                        $('#searchmouse').hover(function() {
                            $('#searchdata').show();
                        }, function() {
                            $('#searchdata').hide();
                        });
               

                    $('#learnmouse').hover(function() {
                            $('#learndata').css('visibility', 'visible');
                        }, function() {
                            $('#learndata').css('visibility', 'hidden');
                        });
                  
                   $('#applymouse').hover(function() {
                            $('#applydata').show();
                        }, function() {
                            $('#applydata').hide();
                        });
                    });
  </script>

<div ng-controller="MainCtrl">
    <div class="jumbotron">
        <div class="mini-head">
            </nav>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-left">
                        <a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank"><img class="img-responsive logo" src="images/DOER_JPEG_300dpi.jpg" alt="DOER logo"> </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <!--   <li style="text-align:center">Energy Expert System</li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-right">
                        <!--<a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank"><img class="img-responsive logo" src="images/DOER_JPEG_300dpi.jpg" alt="DOER logo" > </a></li>-->
                </ul>
            </div>
            <div class="menu">
                <a class="menu-link" href="#/" style="color:#004B8E" title="HomePage">Home <span>&nbsp;|</span></a>
                <a class="menu-link" ng-href="#/glossary" style="color:#004B8E" title="Glossary Page">Glossary</a>
                <a class="menu-link" style="float:right;color:#004B8E" ng-href="#/contact" title=" Contact Information">Contact</a>
                <a class="menu-link" style="float:right;color:#004B8E" ng-href="#/FAQs" title="FAQs related to program">FAQs<span>&nbsp;|&nbsp;</span></a>
                <a class="menu-link" style="float:right;color:#004B8E" ng-href="#/about" title="About tool program">About<span>&nbsp;|&nbsp;</span></a>
            </div>
        </div>
        <div class="row marketing heading-group">
            <div class="col-md-6 col-sm-6">
                <div class="head-img1"  title="Search">
                    <span class="glyphicon glyphicon-search" title="Search" id="searchmouse" ></span>
                   
                </div>
                <!-- <div class="arrow"><span class="glyphicon glyphicon-arrow-right"></span></div>-->
                <div class="heading-text1" >
                    <h3><a class="testing">1. Search</a></h3>
                    <p id="searchdata" style="display:none">Search for and find incentives via keywords or the provided filters below.</p>
                  
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank">
                    <div class="head-img" title="Learn">
                        <span class="glyphicon glyphicon-education" title="Learn" id="learnmouse"> </span>
                    </div>
                </a>
                <!--<div class="arrow"> <span class="glyphicon glyphicon-arrow-right"></span></div>
                <div class="heading-text">
                    <h3><a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank">2. Learn</a></h3>
                    <p>Discover money-saving rebates and incentives for your home or business, and learn what you need to qualify for them. We have provided a <a href="#/glossary">glossary</a> for fuel-source terms as well.</p>
                </div>-->
                <div class="head-img" style="margin-top:40px" title="Apply">
                    <span class="glyphicon glyphicon-pencil" title="Apply" id="applymouse"></span>
                </div>
                <!-- <div class="heading-text">
                    <h3>3. Apply</h3>
                    <p>Click the title of the incentive to visit the program's site. There you can find further details about specific programs and instructions on how to apply.</p>
                </div>-->
            </div>
            <div class="col-md-4 col-sm-4">
                <!--  <div class="arrow"> <span class="glyphicon glyphicon-arrow-right"></span></div>-->
                <div class="heading-text">
                    <h3><a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank">2. Learn</a></h3>
                    <p id="learndata" style="visibility: hidden;" >Discover money-saving rebates and incentives for your home or business, and learn what you need to qualify for them. We have provided a <a href="#/glossary">glossary</a> for fuel-source terms as well.</p>
                </div>
                <!--  <div class="head-img">
                    <span class="glyphicon glyphicon-pencil"></span>
                </div>-->
                <div class="heading-text">
                    <h3>3. Apply</h3>
                    <p id="applydata" style="display:none">Click the title of the incentive to visit the program's site. There you can find further details about specific programs and instructions on how to apply.</p>
                </div>
            </div>
            <!-- <div class="col-md-4 col-sm-4">
                <div class="head-img">
                    <span class="glyphicon glyphicon-pencil"></span>
                </div>
                <div class="heading-text">
                    <h3>3. Apply</h3>
                    <p>Click the title of the incentive to visit the program's site. There you can find further details about specific programs and instructions on how to apply.</p>
                </div>
            </div>-->
        </div>
        <!--/.row, .heading-group-->
    </div>
    <!-- /.jumbotron -->
    <div class="row marketing panel panel-default" id="hiding1">
        <div class="panel-body">
            <p>Filters</p>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Keywords" ng-model="searchIncentives.$">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search" ng-click="zipSearch()"></span></div>
                        <!--ng-change="zipSearch()" -->
                        <input type="text" class="form-control" placeholder="Zipcode" ng-model="searchIncentives.ZIPCODE" name="zcode" ng-change="zipSearch()">
                    </div>
                </div>
            </form>
            <div class="form-group col-md-4 col-sm-4">
                <div class="check-group">
                    <h4>Incentive Type</h4>
                    <label class="radio-inline">
                        <input type="radio" ng-value="'renewables'" ng-model="searchIncentives.incentiveType"> Renewables
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-value="'efficiency'" ng-model="searchIncentives.incentiveType"> Efficiency
                    </label>
                </div>
            </div>
            <div class="form-group col-md-4 col-sm-4">
                <div class="check-group">
                    <h4>Incentive Program</h4>
                    <label class="radio-inline">
                        <input type="radio" ng-value="'residential'" ng-model="searchIncentives.incentiveProgram"> Residential
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-value="'agriculture'" ng-model="searchIncentives.incentiveProgram"> Agriculture
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-value="'commercial'" ng-model="searchIncentives.incentiveProgram"> Commercial
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-value="'financing'" ng-model="searchIncentives.incentiveProgram"> Financing and Services
                    </label>
                </div>
            </div>
            <div class="form-group col-md-4 col-sm-4">
                <div class="check-group">
                    <h4>Category</h4>
                    <label class="radio-inline">
                        <input type="radio" ng-value="'appliances'" ng-model="searchIncentives.incentiveCategory" /> Appliances
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-value="'construction'" ng-model="searchIncentives.incentiveCategory" /> Construction
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-value="'electricity'" ng-model="searchIncentives.incentiveCategory" /> Electricity
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-value="'retrofit'" ng-model="searchIncentives.incentiveCategory" /> Retrofit
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-value="'loans'" ng-model="searchIncentives.incentiveCategory" /> Loans and Grants
                    </label>
                </div>
            </div>
            <div class="button-div">
                <a class="btn btn-default clear-button" href="" title="" ng-click="clearFilters()">Clear Filters</a>
            </div>
        </div>
        <!-- / .panel-body -->
    </div>
    <!-- /.row .panel -->
    <div class="row marketing"  id="hiding">
        <!--<div class="table-container">-->
        <div class="table-responsive">
            <table class="table">
                <caption>Available Incentives and Rebates:</caption>
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="sortType = 'programName'; sortReverse = !sortReverse">
                   Name
                   <span ng-show="sortType == 'programName' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                   <span ng-show="sortType == 'programName' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'keyword'; sortReverse = !sortReverse">
                   Keyword
                   <span ng-show="sortType == 'keyword' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                   <span ng-show="sortType == 'keyword' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'participatingUtility'; sortReverse = !sortReverse">
                   Participating Utility
                   <span ng-show="sortType == 'participatingUtility' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                   <span ng-show="sortType == 'participatingUtility' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'incentiveDetail'; sortReverse = !sortReverse">
                  Detail
                  <span ng-show="sortType == 'incentiveDetail' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                  <span ng-show="sortType == 'incentiveDetail' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'amount'; sortReverse = !sortReverse">
                   Amount
                   <span ng-show="sortType == 'amount' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                   <span ng-show="sortType == 'amount' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
                        </th>
                    </tr>
                </thead>
                <div id="tBodyContainer">
                    <tbody>
                        <tr ng-repeat="col in tableData | orderBy:sortType:sortReverse | filter:searchIncentives">
                            <!-- Hidden, but still sortable data -->
                            <td class="hidden-col">
                                <div class="data-cell">{{col.incentiveType}}</div>
                            </td>
                            <td class="hidden-col">
                                <div class="data-cell">{{col.incentiveProgram}}</div>
                            </td>
                            <td class="hidden-col">
                                <div class="data-cell">{{col.fuelSource}}</div>
                            </td>
                            <td class="hidden-col">{{col.incentiveCategory}}</td>
                            <td class="hidden-col">{{col.eligibility}}</td>
                            <!-- Visible and sortable data -->
                            <td>
                                <div class="data-cell prog-name-cell"><a href="{{col.contact}}" title="" alt="program link" target="_blank">{{col.programName}}</a></div>
                            </td>
                            <td>
                                <div class="data-cell">{{col.keyword}}</div>
                            </td>
                            <td>
                                <div class="data-cell"><span class="text-back">{{col.participatingUtility}}</span></div>
                            </td>
                            <td>
                                <div class="data-cell">{{col.keyword}}</div>
                            </td>
                            <td>
                                <div class="data-cell">{{col.amount}}</div>
                            </td>
                        </tr>
                        <tr ng-repeat="col in tableData3 track by $index| orderBy:sortType:sortReverse |unique">
                            <!-- Hidden, but still sortable data -->
                            <td class="hidden-col">
                                <div class="data-cell">{{col.incentiveType}}</div>
                            </td>
                            <td class="hidden-col">
                                <div class="data-cell">{{col.incentiveProgram}}</div>
                            </td>
                            <td class="hidden-col">
                                <div class="data-cell">{{col.fuelSource}}</div>
                            </td>
                            <td class="hidden-col">{{col.incentiveCategory}}</td>
                            <td class="hidden-col">{{col.eligibility}}</td>
                            <!-- Visible and sortable data -->
                            <td>
                                <div class="data-cell prog-name-cell"><a href="{{col.contact}}" title="" alt="program link" target="_blank">{{col.programName}}</a></div>
                            </td>
                            <td>
                                <div class="data-cell">{{col.keyword}}</div>
                            </td>
                            <td>
                                <div class="data-cell"><span class="text-back">{{col.participatingUtility}}</span></div>
                            </td>
                            <td>
                                <div class="data-cell">{{col.keyword}}</div>
                            </td>
                            <td>
                                <div class="data-cell">{{col.amount}}</div>
                            </td>
                        </tr>
                    </tbody>
                </div>
            </table>
            <!-- / .table-responsive -->
        </div>
    </div>
    <!-- /.row -->
</div>
<!--   -->
